<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav bgimg border-fix" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <div class="overlay">
            <mat-toolbar color="primary"> 
                <mat-icon>history_edu</mat-icon>
                <span class="pl-2">Jot Sauce</span>
            </mat-toolbar>


            <mat-nav-list [class.background-translucent]="true">
                <a mat-list-item 
                    [routerLink]="['/index']"
                    routerLinkActive="list-item-active">
                        <button mat-icon-button>
                            <mat-icon>dashboard</mat-icon>
                        </button>
                        <span matLine>Compendium</span>
                </a>
                <mat-divider></mat-divider>

                <h2 class="h2 text-center mb-0 mt-3" *ngIf="jots.length > 0">Jots</h2>

                <a mat-list-item *ngFor="let jot of jots"
                    [routerLink]="['/index']">
                        <span matLine>{{ jot.title }}</span>
                        <button mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                </a>
                
                <mat-divider></mat-divider>
                
            </mat-nav-list>

        </div>

        
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="row w-100 mr-5">
                <div class="col">
                    <button
                        type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        (click)="drawer.toggle()">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                </div>

                <div class="col text-right mr-5">
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User Menu">
                        <mat-icon>account_circle</mat-icon> {{ user?.username }}
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item
                            (click)="logout()">
                            <mat-icon>assignment_return</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            
            
              
        </mat-toolbar>

        <div class="container-fluid my-3">
            <app-index-compendium></app-index-compendium>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>


