<mat-toolbar color="primary" class="mat-elevation-z24">
    <mat-toolbar-row>
        <div class="container-fluid">
            <div class="d-flex justify-content-between">
                <div>
                    <h1>
                        Jot Sauce
                    </h1>
                </div>
                <div>
                    <button  aria-label="Login" 
                        *ngIf="!isAuthenticated"
                        [routerLink]="['/login']"
                        class="mr-5"
                        mat-icon-button>
                            <mat-icon>login</mat-icon> Login
                    </button>
                    <button  aria-label="Logout" 
                        *ngIf="!!isAuthenticated"
                        (click)="logout()"
                        class="mr-5"
                        mat-icon-button>
                            <mat-icon>assignment_return</mat-icon> Logout
                    </button>
                </div>
            </div>  
            
        </div>
              
    </mat-toolbar-row>
</mat-toolbar>

<div class="py-5 bgimg">
    <div class="row mx-auto py-5 my-5">
        <div class="col w-auto">
            <h2 class="text-center text-white font-weight-bolder">
                <span class="display-3 font-weight-bold">
                    Rapid Logging for <br> Productivity and <br> Journaling
                </span>
            </h2>
        </div>
    </div>  
</div>

<div class="container py-5">
    <div class="row">
        <div class="col">
            <!-- NOTES HERE -->
        </div>
    </div>
</div>

