<div class="container">
    <div class="row display-flex">
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="landing-content">
                <h1>Rapid Logging for Productivity and Journaling</h1>
            </div>
        </div>

        <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
            
            <!-- Login-Registration Form  -->
            
            <div class="registration-login-form">
                
            
                <!-- Tab panes -->
            
                    <div class="active" id="profile" role="tabpanel" data-mh="log-tab">
                        <div class="title h1">Login</div>
                        <form class="content">
                            <div class="row">
                                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email">
                                      </div>
                                      <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password">
                                      </div>
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="remember">
                                        <label class="form-check-label" for="remember">Remember Me</label>
                                      </div>
                                      <mat-checkbox>Remember Me</mat-checkbox>
                                      <mat-checkbox>Check me!</mat-checkbox>
                                      <mat-checkbox class="col" formControlName="requestGift" [ngClass]="routeAnimationsElements">
                                        something
                                      </mat-checkbox>

            
                                    <a href="#" class="btn btn-lg btn-primary full-width">Login</a>
            
                                    <div class="or"></div>
        
            
                                    <p class="text-center">Don’t you have an account? <br> <a href="#">Register Now!</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
            
            <!-- ... end Login-Registration Form  -->		</div>
    </div>
</div>