<div class="container">
    <div class="row display-flex">
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="landing-content">
                <h1>Rapid Logging for Productivity and Journaling</h1>
            </div>
        </div>

        <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
            
            <!-- Login-Registration Form  -->
            
            <div class="registration-login-form">
                
            
                <!-- Tab panes -->
            
                    <div class="active" id="profile" role="tabpanel" data-mh="log-tab">
                        <div class="title h1">Login</div>
                        <form class="content">
                            <div class="row">
                                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" [formGroup]="authGroup">
                                    <mat-form-field class="w-100">
                                        <mat-label>Username / Email</mat-label>
                                        <input matInput type="email" placeholder="email@address.com">
                                        <mat-icon matSuffix color="primary">email</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <mat-label>Password</mat-label>
                                        <input matInput type="password">
                                        <mat-icon matSuffix color="primary">vpn_key</mat-icon>
                                    </mat-form-field>
                                    
                                    <mat-checkbox formControlName="remember" [ngClass]="routeAnimationsElements">Remember Me</mat-checkbox>  

                                    <button mat-flat-button color="primary" class="full-width mt-3">Login</button>
            
                                    <div class="or"></div>
            
                                    <p class="text-center">Don’t you have an account? <br> <a href="#">Register Now!</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
            
            <!-- ... end Login-Registration Form  -->		</div>
    </div>
</div>