<div class="landing-page">
    <div class="content-bg-wrap"></div>

    <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
            <div class="header--standard-wrap">
    
                <a href="#" class="logo">
                    <div class="img-wrap">
                        <img src="/assets/jotsauce-angular/assets/img/theme/logo.png" alt="Jotsauce">
                        <img src="/assets/jotsauce-angular/assets/img/theme/logo-colored-small.png" alt="Jotsauce" class="logo-colored">
                    </div>
                    <div class="title-block">
                        <h6 class="logo-title">jotsauce</h6>
                        <div class="sub-title">RAPID LOGGING</div>
                    </div>
                </a>
    
                <a href="#" class="open-responsive-menu js-open-responsive-menu"> 
                    <svg class="olymp-menu-icon"  viewBox="0 0 41 32">
                        <path d="M4.571 0h-4.571v4.571h4.571v-4.571zM9.143 0v4.571h32v-4.571h-32zM13.714 13.714h-13.714v4.571h13.714v-4.571zM18.286 13.714v4.571h4.571v-4.571h-4.571zM27.429 18.286h13.714v-4.571h-13.714v4.571zM0 32h32v-4.569h-32v4.569zM36.571 32h4.571v-4.569h-4.571v4.569z"></path>                    
                    </svg>
                </a>
    
                <div class="nav nav-pills nav1 header-menu expanded-menu">
                    <div class="mCustomScrollbar">
                        <ul>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Home</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="close-responsive-menu js-close-responsive-menu">
                                <svg class="olymp-close-icon" viewBox="0 0 32 32">
                                    <path d="M14.222 17.778h3.556v-3.556h-3.556v3.556zM31.084 3.429l-2.514-2.514-10.057 10.057 2.514 2.514 10.057-10.057zM0.916 28.571l2.514 2.514 10.057-10.055-2.516-2.514-10.055 10.055zM18.514 21.029l10.057 10.055 2.514-2.514-10.057-10.055-2.514 2.514zM0.916 3.431l10.057 10.055 2.516-2.514-10.059-10.057-2.514 2.516z"></path>
                                </svg>
                            </li>
                            <li class="nav-item js-expanded-menu">
                                <a href="#" class="nav-link">
                                    <svg class="olymp-menu-icon"  viewBox="0 0 41 32">
                                        <path d="M4.571 0h-4.571v4.571h4.571v-4.571zM9.143 0v4.571h32v-4.571h-32zM13.714 13.714h-13.714v4.571h13.714v-4.571zM18.286 13.714v4.571h4.571v-4.571h-4.571zM27.429 18.286h13.714v-4.571h-13.714v4.571zM0 32h32v-4.569h-32v4.569zM36.571 32h4.571v-4.569h-4.571v4.569z"></path>                    
                                    </svg>
                                    <svg class="olymp-close-icon" viewBox="0 0 32 32">
                                        <path d="M14.222 17.778h3.556v-3.556h-3.556v3.556zM31.084 3.429l-2.514-2.514-10.057 10.057 2.514 2.514 10.057-10.057zM0.916 28.571l2.514 2.514 10.057-10.055-2.516-2.514-10.055 10.055zM18.514 21.029l10.057 10.055 2.514-2.514-10.057-10.055-2.514 2.514zM0.916 3.431l10.057 10.055 2.516-2.514-10.059-10.057-2.514 2.516z"></path>
                                    </svg>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ... end Header Standard Landing  -->
    <div class="header-spacer--standard"></div>
    
    <div class="container">
        <div class="row display-flex">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="landing-content">
                    <h1>Rapid Logging for Productivity and Journaling</h1>
                </div>
            </div>
    
            <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
                
                <!-- Login-Registration Form  -->
                
                <div class="registration-login-form">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                                <svg class="olymp-login-icon"><use xlink:href="#olymp-login-icon"></use></svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                                <svg class="olymp-register-icon"><use xlink:href="#olymp-register-icon"></use></svg>
                            </a>
                        </li>
                    </ul>
                
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
                            <div class="title h6">Register</div>
                            <form class="content">
                                <div class="row">
                                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">First Name</label>
                                            <input class="form-control" placeholder="" type="text">
                                        </div>
                                    </div>
                                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Last Name</label>
                                            <input class="form-control" placeholder="" type="text">
                                        </div>
                                    </div>
                                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your Email</label>
                                            <input class="form-control" placeholder="" type="email">
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your Password</label>
                                            <input class="form-control" placeholder="" type="password">
                                        </div>
                
                                        <div class="form-group date-time-picker label-floating">
                                            <label class="control-label">Your Birthday</label>
                                            <input name="datetimepicker" value="10/24/1984" />
                                            <span class="input-group-addon">
                                                <svg class="olymp-calendar-icon" viewBox="0 0 26 32">
                                                    <path d="M23.273 32h2.909v-2.909h-2.909v2.909zM23.273 2.911h-2.909v-1.456c0-0.801-0.652-1.455-1.455-1.455-0.804 0-1.455 0.653-1.455 1.455v1.456h-8.727v-1.456c0-0.801-0.652-1.455-1.455-1.455-0.804 0-1.455 0.653-1.455 1.455v1.456h-2.909c-1.606 0-2.909 1.302-2.909 2.909v23.271c0 1.607 1.303 2.909 2.909 2.909h17.455v-2.909h-17.455v-23.271h2.909v1.453c0 0.803 0.65 1.455 1.455 1.455 0.803 0 1.455-0.652 1.455-1.455v-1.453h8.727v1.453c0 0.803 0.65 1.455 1.455 1.455 0.803 0 1.455-0.652 1.455-1.455v-1.453h2.909v20.362h2.909v-20.362c0-1.607-1.303-2.909-2.909-2.909zM7.273 26.182h2.909v-2.909h-2.909v2.909zM14.545 26.182v-2.909h-2.909v2.909h2.909zM16 26.182h2.909v-2.909h-2.909v2.909zM14.545 18.909h-7.273v2.909h7.273v-2.909zM18.909 18.909h-2.909v2.909h2.909v-2.909zM14.545 14.547h-7.273v2.908h7.273v-2.908zM18.909 14.547h-2.909v2.908h2.909v-2.908z"></path>
                                                </svg>
                                            </span>
                                        </div>
                
                                        
                
                                        
                
                                        <a href="#" class="btn btn-purple btn-lg full-width">Register!</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                
                        <div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
                            <div class="title h6">Login to your Account</div>
                            <form class="content">
                                <div class="row">
                                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your Email</label>
                                            <input class="form-control" placeholder="" type="email">
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your Password</label>
                                            <input class="form-control" placeholder="" type="password">
                                        </div>
                
                                        <div class="remember">
                
                                            <div class="checkbox">
                                                <label>
                                                    <input name="optionsCheckboxes" type="checkbox">
                                                    Remember Me
                                                </label>
                                            </div>
                                            <a href="#" class="forgot" data-toggle="modal" data-target="#restore-password">Forgot my Password</a>
                                        </div>
                
                                        <a href="#" class="btn btn-lg btn-primary full-width">Login</a>
                
                                        <div class="or"></div>
                
                                        <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>Login with Facebook</a>
                
                                        <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>Login with Twitter</a>
                
                
                                        <p>Don’t you have an account? <a href="#">Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- ... end Login-Registration Form  -->		</div>
        </div>
    </div>

    <router-outlet #o="outlet"></router-outlet>

</div>