<mat-progress-bar mode="indeterminate" [hidden]="!isLoading"></mat-progress-bar>

<ng-template ngIf="!isAuthenticated">
  <router-outlet></router-outlet>
</ng-template>

<ng-template *ngIf="!!isAuthenticated">
  <mat-toolbar color="primary" class="py-1">
    <mat-toolbar-row>

      <span>Jot Sauce</span>
      <button mat-icon-button 
        (click)="toggleSidenav()"
        aria-label="Menu">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <span *ngIf="!isAuthenticated">
        <a [routerLink]="['/login']">
          Login
        </a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidebarOpen" class="p-3">
      Sidenav content
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>


